.i-phone13pro-max5 {
  width: 100%;
  height: 926px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.rectangle1 {
  top: 842px;
  left: 0px;
  width: 428px;
  height: 84px;
  position: absolute;
  border-color: transparent;
}
.leaderboard {
  top: 856px;
  left: 271px;
  width: 54px;
  height: 55px;
  position: absolute;
}
.coolicon {
  top: 864px;
  left: 361px;
  width: 36px;
  height: 42px;
  position: absolute;
}
.language {
  top: 856px;
  left: 102px;
  width: 55px;
  height: 55px;
  position: absolute;
}
.coolicon1 {
  top: 859px;
  left: 193px;
  width: 42px;
  height: 49px;
  position: absolute;
}
.payments {
  top: 858px;
  left: 19px;
  width: 53px;
  height: 53px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.group {
  top: 0px;
  left: 0px;
  width: 53px;
  height: 53px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.vector {
  top: 8.833333969116211px;
  left: 2.2083334922790527px;
  width: 49px;
  height: 35px;
  position: absolute;
}
.text {
  top: 50px;
  left: 42px;
  color: rgba(0, 0, 0, 1);
  width: 331px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.rectangle2 {
  top: 104px;
  left: 25px;
  width: 378px;
  height: 128px;
  position: absolute;
  border-color: transparent;
}
.rectangle4 {
  top: 312px;
  left: 25px;
  width: 378px;
  height: 128px;
  position: absolute;
  border-color: transparent;
}
.rectangle6 {
  top: 592px;
  left: 75px;
  width: 278px;
  height: 94px;
  position: absolute;
  border-color: transparent;
}
.rectangle7 {
  top: 714px;
  left: 75px;
  width: 278px;
  height: 94px;
  position: absolute;
  border-color: transparent;
}
.rectangle3 {
  top: 240px;
  left: 108px;
  width: 295px;
  height: 56px;
  position: absolute;
  border-color: transparent;
}
.rectangle5 {
  top: 448px;
  left: 108px;
  width: 295px;
  height: 56px;
  position: absolute;
  border-color: transparent;
}
.ellipse5 {
  top: 242px;
  left: 38px;
  width: 54px;
  height: 54px;
  position: absolute;
  border-color: transparent;
}
.ellipse6 {
  top: 450px;
  left: 38px;
  width: 54px;
  height: 54px;
  position: absolute;
  border-color: transparent;
}